body{
    color:white;

    
    background-color:gray;
    
}
a {color:red; text-decoration:none;}
a:hover{text-decoration:underline}
span{color:yellow;}



h1, h2 {
    color: blue;


    
}